<nav class="main-menu">
  <ul class="upper-btns">
    <%if @project.nil?%>
      <li>
        <a href="/profile">
          <i class="fa-solid fa-house"></i>
          <span class="nav-text">Home Page</span>
        </a>
      </li>
    <% else%>
      <li>
        <a href="/profile">
          <i class="fa-solid fa-house"></i>
          <span class="nav-text">Home Page</span>
        </a>
      </li>
      <li>
        <%if @project.nil?%>
          <a href="">
        <% else%>
          <a href="/projects/<%=@project.id%>">
        <%end%>
          <i class="fa-solid fa-diagram-project"></i>
          <span class="nav-text">My Project</span>
        </a>
      </li>
      <li class="has-subnav">
        <%if @project.nil?%>
          <a href="">
        <% else%>
          <a href="/projects/<%=@project.id%>/tasks">
        <%end%>
          <i class="fa-solid fa-list-check"></i>
          <span class="nav-text">My Tasks</span>
        </a>
      </li>
      <li class="has-subnav">
        <%if @project.nil?%>
          <a href="">
        <% else%>
          <a href="/projects/<%=@project.id%>/tickets">
        <%end%>
          <i class="fa-solid fa-ticket"></i>
          <span class="nav-text">Tickets</span>
        </a>
      </li>
      <li class="has-subnav">
        <%if @project.nil?%>
          <a href="">
        <% else%>
          <a href="/projects/<%=@project.id%>/performance">
        <%end%>
          <i class="fa-solid fa-chart-line"></i>
          <span class="nav-text">Performace Analysis</span>
        </a>
      </li>
    <%end%>
  </ul>

  <ul class="lower-btns">
    <li>
      <a href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span class="nav-text">Search</span>
      </a>
    </li>
    <li class="has-subnav">
      <%if @project.nil?%>
        <a href=" ">
      <% else%>
        <a href="/projects/<%=@project.id%>/chatrooms/<%= @project.chatroom_id%>">
        <i class="fa-solid fa-comment"></i>
        <span class="nav-text">Chat</span>
      </a>
      <%end%>
    </li>
    <li>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="nav-text">Logout</span>
        <% end %>
      <%end%>
    </li>
  </ul>
</nav>
