<div class="ticket-items">
  <div class="categories-row d-flex justify-content-between" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 0px) !important;">
    <p class="1" style="">Requester</p>
    <p class="3" style="">Subject</p>
    <p class="3" style="">Assigned</p>
    <p class="3" style="">Status</p>
    <p class="3" style="">Comments</p>
  </div>
  <div class="info-row">
  <!-- Ticket info  -->
    <% @tickets.each do |ticket|%>
      <div class="btn-table table-info d-flex justify-content-between text-center my-5" type="button" href="/projects/:id">
        <img class="avatar" style="margin-top:-8px; margin-bottom:8px;" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
        <p style="width:120px;"><%= User.find(ticket.user_id).first_name%> <%= User.find(ticket.user_id).last_name%></p>
        <p style="width:120px;"><%= ticket.title%></p>
        <p style="width:120px;"><!-- How is this task-assigned to -->Gabriel Bruds</p>
        <p style="width:120px;"><%= ticket.status%></p>
        <a class="btn text-center" type="button" href="/projects/<%= @project.id%>/tickets/<%= ticket.id%>">See Comments</a>
      </div>
    <% end %>
  <!-- Ticket info  -->
  </div>
</div
