<div class="text-center" style="margin-left:40px">
  <img class="assigned-avatar" style="margin:40px" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
  <p><%= current_user.first_name %><%= " " %><%= current_user.last_name %></p>
</div>
<div style="margin-left:70px">
  <div>
    <div class="text-left padding-left:50px" style="margin-left:10px; margin-top:15px">
      <div class="card-subject">
        <h2 style="margin-top:10px; margin-left:45px">Ticket</h2>
        <h1 class="project-name text-center" style="margin-top:-20px"><%= @project.name %></h1>
        <div>
          <div class="user-info text-center">
            <h3 style="padding:20px;"><%= @ticket.title%></h3>
          </div>
          <div class="card-description text-left" style="min-height:300px; width:680px; overflow-y:scroll; border-radius:10px;">
            <h5 style="padding:10px; text-align: left !important;">Description:</h5>
            <p style="padding-left:2%; padding-right:2%;"><%= @ticket.description%></p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <% @comments.each_with_index do |comment, index|%>
        <% if index % 2 == 0 %>
          <!--Avatar right side. -->
          <%= render "tickets/shared/right_side_comment", comment: comment %>
        <% else %>
          <!--Avatar left side. -->
          <%= render "tickets/shared/left_side_comment", comment: comment %>
        <% end %>
      <%end%>
      <!-- Form to Submit new comment -->
      <div class="form-actions text-right">
        <%= simple_form_for [@project,@ticket,@new_comment] do |f| %>
          <%= f.input :comment,
                      as: :text,
                      wrapper_html: { class: "comment-section" },
                      input_html: { 'rows' => 5, 'cols' => 10}, :input_html => { :class => "comment-box" }  %>
          <%= f.input :ticket_id, :as => :hidden, :input_html => { :value => @ticket.id }%>
          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
          <div style="margin-right:60px;"><%= f.button :submit, class:"btn-submit" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
