<div style="margin-left:130px">
  <h1 style="margin-top:10px; margin-left:20px">Ticket</h1>
  <div>
    <div class="text-center padding-left:100px" style="margin-left:10px; margin-top:15px">
      <div class="card-subject text-center">
        <div class="d-flex">
          <img class="assigned-avatar" style="margin:20px" src="http://res.cloudinary.com/djn023to9/image/upload/c_fill/v1/production/uksu8qrxln8cetj78lk72pglrsz3">
          <h2 style="padding-top:20px; padding-left:350px;"><%= @ticket.title%></h2>
        </div>
        <div class="card-description text-left" style="overflow-y:scroll; border-radius:5px;">
          <h4 style="padding-top:10px">Description:</h4>
          <p><%= @ticket.description%></p>
        </div>
      </div>
    </div>
    <div>
      <% @comments.each_with_index do |comment, index|%>
        <% if index % 2 == 0 %>
          <!--Avatar right side. -->
          <%= render "tickets/shared/right_side_comment", comment: comment %>
        <% else %>
          <!--Avatar left side. -->
          <%= render "tickets/shared/left_side_comment", comment: comment %>
        <% end %>
      <%end%>
      <!-- Form to Submit new comment -->
      <div class="form-actions text-right">
        <%= simple_form_for [@project,@ticket,@new_comment] do |f| %>
          <%= f.input :comment, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 } %>
          <%= f.input :ticket_id, :as => :hidden, :input_html => { :value => @ticket.id }%>
          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
          <%= f.button :submit, class:"btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
