<div class="profile-page d-flex justify-content-between">
  <div class="profile-card text-center" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 20px) !important;">
    <div class="id-info d-flex justify-content-between" data-controller="modal">
      <div class="img-profile">
      <!-- Profile Picture From User -->
        <button type="button" class="icon-button" data-bs-toggle="modal" data-bs-target="#invitationsModal">
        <%if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, class:"avatar material-icons", crop: :fill %>
        <% else %>
          <img class="avatar material-icons" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
        <% end %>
        <span class="icon-button__badge"><%= @invitations.count%></span>
        </button>
      </div>
      <div class="users-info">
        <h3> Hello <%= current_user.first_name %>! </h3>
        <p> <%= current_user.email %> </p>
      </div>
    </div>
    <div class="user-record text-center">
      <p class="text-center">Your info:</p>
      <div class="my-info text-center">
        <p> <%= current_user.information %> </p>
      </div>
      <a class="btn text-center" type="button" href="/users/edit">Update Profile</a>
    </div>
  </div>
  <div class="profile-items">
    <div class="categories-row d-flex justify-content-end" style="position: -webkit-sticky; position: sticky; top: var(--navigation-bar-offset, 0px) !important;">
      <p class="1" style="margin-right:155px;">Project</p>
      <p class="2" style="margin-right:160px;">Role</p>
      <p class="3" style="margin-right:15px;">Status</p>
    </div>
    <div class="info-row">
        <!-- Div for project information. -->
        <% @projects.each do |project|%>
        <a href="/projects/<%= project.id %>" style="text-decoration:none;">
          <div class="btn-table table-info d-flex justify-content-between text-center my-5" >
            <!-- Project Owner Photo -->
            <% project_user = User.find(project.user_id) %>
            <%if project_user.photo.attached?%>
              <%= cl_image_tag project_user.photo.key, class:"avatar", style:"height:55px; width:55px", crop: :fill %>
            <% else %>
              <img class="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="height:55px; width:55px">
            <% end %>
            <p style="width:120px; margin-top:15px;"><%= project.name%></p>
            <p style="width:120px; margin-top:15px;">Manager</p>
            <p style="width:120px; margin-top:15px;">On Going</p>
          </div>
        </a>
        <% end %>
        <!-- Div for project information. -->
    </div>

    <div class="info-row">
      <!-- Div for project information. -->
      <% @participating_projects.each do |participation|%>
        <% project = Project.find(participation.project_id) %>
        <a href="/projects/<%= project.id%>" style="text-decoration:none;">
          <div class="btn-table table-info d-flex justify-content-between text-center my-5" >
            <!-- Project Owner Photo -->
            <% project_user = User.find(project.user_id) %>
            <%if project_user.photo.attached?%>
              <%= cl_image_tag project_user.photo.key, class:"avatar", style:"height:55px; width:55px", crop: :fill %>
            <% else %>
              <img class="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="height:55px; width:55px">
            <% end %>
            <p style="width:120px; margin-top:15px;"><%= project.name%></p>
            <p style="width:120px; margin-top:15px;">Developer</p>
            <p style="width:120px; margin-top:15px;">On Going</p>
          </div>
        </a>
      <% end %>
        <!-- Div for project information. -->
    </div>
    <%= link_to "Create new Project", new_project_path, class:"create-project btn" %>
  </div>
</div>


<!-- Modal to accept decline Invitation for projects -->
        <div class="modal fade" id="invitationsModal" tabindex="-1" aria-labelledby="invitationsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="width:700px">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="invitationsModalLabel">Invitations</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% @invitations.each do |invitation|%>
                  <div style="display:flex;">
                    <p><%= User.find(invitation.user_id).first_name%> <%= User.find(invitation.user_id).last_name%> invited you to:<p>
                    <h6><%= Project.find(invitation.project_id).name%></h6>
                    <%= button_to "Accept", project_user_project_accept_path(invitation.project_id, invitation), method: :patch %>
                    <%= button_to "Decline", project_user_project_decline_path(invitation.project_id, invitation), method: :patch %>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
<!-- Modal to accept decline Invitation for projects -->
